<header>
  <div class="title"><h1>設定</h1></div>
  <div class="icon"><a href="/users/<%= current_user.id %>/mypage" class="btn"><i class="fas fa-home fa-5x"></i></a><span>ホーム</span></div>
  <div class="icon"><%= link_to "/users/sign_out", method: :delete, :class => 'btn' do %><i class="fas fa-sign-out-alt fa-5x"></i></a><span>サインアウト<span><% end %>
</header>
<div class="contents">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div class="edit-form">
      <h1>Eメールを変更する</h1>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <!-- <hr> -->
    <div class="edit-form">
      <h1>パスワードを変更する</h1>
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
          <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
    </div>
    <!-- <hr> -->
    <div class="edit-form">
      <!-- <div class="input-form-left"> -->
        <!-- <h1>パスワード変更（確認）</h1> -->
      <!-- </div> -->
      <!-- <div class="input-form-right"> -->
        <!-- <input type="textarea" name="password"> -->
        <h1>パスワード変更（確認）</h1>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <!-- </div> -->
    </div>
    <!-- <hr> -->
    <div class="edit-form">
      <!-- <div class="input-form-left"> -->
        <!-- <h1>現在のパスワード</h1> -->
      <!-- </div> -->
      <!-- <div class="input-form-right"> -->
        <h1>現在のパスワード</h1>
        <%= f.password_field :current_password, autocomplete: "off" , require: "true"%>
      <!-- </div> -->
    </div>
    <!-- <hr> -->
  <div class="input-form">
      <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
        <i class="far fa-check-circle fa-5x"></i>
      <% end %>
  </div>
<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->
<% end %>
</div>
