<!-- "/app/assets/stylesheets/mypage_style.css" -->
<% todos = current_user.todos %>
<% todolen = todos.length %>
<% time_now = Time.now %>
<header>
  <h1>MY PAGE （タスク<%= todolen %>件）</h1>
  <a href=<%="/user/#{current_user.id}/todos"%>>TODOリスト</a>
  <a href="/todos/new">タスク登録</a>
</header>
<div class="todo-mat">
  <div class="contents-row">
    <div class="contents-left">
      <%  todos.each do |todo| %>
        <% if todo.importance <= todolen/2 and todo.dead_line < time_now + 3.day then %>
          <li>
              <a href=<%="/todos/#{todo.id}"%> > <%= todo.importance %> <%= todo.title %> <%= todo.dead_line%></a>
          </li>
        <% end %>
      <% end %>
    </div>
    <div class="contents-right">
      <%  todos.each do |todo| %>
        <% if todo.importance <= todolen/2 and todo.dead_line >= time_now + 3.day then %>
          <li>
              <a href=<%="/todos/#{todo.id}"%> > <%= todo.importance %> <%= todo.title %> <%= todo.dead_line%></a>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="contents-row">
    <div class="contents-left">
      <%  todos.each do |todo| %>
        <% if todo.importance > todolen/2 and todo.dead_line < time_now + 3.day then %>
          <li>
              <a href=<%="/todos/#{todo.id}"%> > <%= todo.importance %> <%= todo.title %> <%= todo.dead_line%></a>
          </li>
        <% end %>
      <% end %>
    </div>
    <div class="contents-right">
      <%  todos.each do |todo| %>
        <% if todo.importance > todolen/2 and todo.dead_line >= time_now + 3.day then %>
          <li>
              <a href=<%="/todos/#{todo.id}"%> > <%= todo.importance %> <%= todo.title %> <%= todo.dead_line%></a>
          </li>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
