<!-- "/app/assets/stylesheets/mypage_style.css" -->
<% todolen = @todos.length %>
<% time_now = Time.now %>
<% time_limit = time_now + 1.day %>
<% max_todo_length = 15%>
<header>
  <div class="title"><h1>MY PAGE</h1></div>
  <div class="icon"><a href="/users/todos" class="btn"> <i class="far fa-file-alt fa-5x"></i><div class="icon-text">TODO</div></a></div>
  <div class="icon"><a href="/todos/new" class="btn"><i class="fas fa-plus fa-5x"></i><div class="icon-text">追加</div></a></div>
  <div class="icon"><a href="/users/todos" class="btn"> <i class="fas fa-search fa-5x"></i><div class="icon-text">検索</div></a></div>
  <div class="icon"><a href="/users/edit" class="btn"><i class="fas fa-cog fa-5x"></i><div class="icon-text">設定</div></a></div>
</header>
<div class="todo-mat">
  <div class="contents-row">
    <div class="contents-left" id="important">
      <h1>DO (~<%= time_limit.strftime('%m月%d日') %>)</h1>
      <%  @todos.each_with_index do |todo, i| %>
        <% if i <= @todos.length/2 and todo.dead_line <= time_limit then %>
          <li>
            <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
          </li>
          <hr>
        <% end %>
      <% end %>
    </div>
    <div class="contents-right" id="decide">
      <h1>DECIDE</h1>
      <%  @todos.each_with_index do |todo, i| %>
        <% if i <= @todos.length/2 and todo.dead_line > time_limit then %>
          <li>
            <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
          </li>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- <hr> -->
  <div class="contents-row">
    <div class="contents-left" id="delegate">
      <h1>DELEGATE (~<%= time_limit.strftime('%m月%d日') %>)</h1>
      <%  @todos.each_with_index do |todo, i| %>
        <% if i > @todos.length/2 and todo.dead_line <= time_limit then %>
          <li>
            <!-- <div class="urgent"><i class="far fa-clock fa-2x"></i></div> -->
            <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
          </li>
          <hr>
        <% end %>
      <% end %>
    </div>
    <div class="contents-right" id="delete">
      <h1>DELETE</h1>
      <%  @todos.each_with_index do |todo, i| %>
        <% if i > @todos.length/2 and todo.dead_line > time_limit then %>
          <li>
              <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
          </li>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- モーダルウインドウ -->
<div id="modal-main1" class="modal">
  <h1><%= time_limit.strftime('%m月%d日') %>までの重要なタスク</h1>
  <%  @todos.each_with_index do |todo, i| %>
    <% if i <= @todos.length/2 and todo.dead_line <= time_limit then %>
      <li>
        <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
      </li>
      <hr>
    <% end %>
  <% end %>
</div>

<div id="modal-main2" class="modal">
  <h1><%= time_limit.strftime('%m月%d日') %>より先の重要なタスク</h1>
  <%  @todos.each_with_index do |todo, i| %>
    <% if i <= @todos.length/2 and todo.dead_line > time_limit then %>
      <li>
        <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
      </li>
      <hr>
    <% end %>
  <% end %>
</div>

<div id="modal-main3" class="modal">
  <h1><%= time_limit.strftime('%m月%d日') %>までのタスク</h1>
  <%  @todos.each_with_index do |todo, i| %>
    <% if i > @todos.length/2 and todo.dead_line <= time_limit then %>
      <li>
        <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
      </li>
      <hr>
    <% end %>
  <% end %>
</div>

<div id="modal-main4" class="modal">
  <h1><%= time_limit.strftime('%m月%d日') %>より先のタスク</h1>
  <%  @todos.each_with_index do |todo, i| %>
    <% if i > @todos.length/2 and todo.dead_line > time_limit then %>
      <li>
          <a href=<%="/todos/#{todo.id}"%> > <%= truncate(todo.title, length: max_todo_length) %></a>
      </li>
      <hr>
    <% end %>
  <% end %>
</div>
