<% todolist = current_user.todos.order('importance ASC')%>
<% todolist.each do |todo| %>
  <% todo.update({:importance => todo.importance + 1}) %>
<% end %>
<header>
  <div class="title"><h2>ドラッグアンドドロップで重要度を選択</h2></div>
  <div class="icon" color="red"><a href="/users/mypage" class="btn"><i class="far fa-check-circle fa-5x"></i><div class="icon-text">決定</div></a></div>
</header><!-- /header -->

<div class="todo-table">
  <table>
    <thead>
      <tr>
        <th>タスク</th>
        <th>期限</th>
      </tr>
    </thead>
    <tbody id="sortable">
      <%  todolist.each do |todo| %>
        <% if todo.id == @new_todo_id %>
          <tr id="row_<%= todo.id %>" >
            <td class="newtodo title"><%= todo.title %></td>
            <td class="newtodo date"><%= todo.dead_line.strftime("%Y/%m/%d %H:%M") %></td>
            <!-- <td class="newicon"><i class="fas fa-arrows-alt-v fa-2x"></i></td> -->
          </tr>
        <% else %>
          <tr id="row_<%= todo.id %>">
            <td class="title"><%= todo.title %></td>
            <td class="date"><%= todo.dead_line.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<div class="todo-table">

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js'></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>

<script type="text/javascript">
$(document).on('turbolinks:load',function() {
  $("#sortable").sortable({
     cursor: 'move',
     start: function(event, ui) {ui.item.css({'background-color':'rgba(255,0,0,0.1)', 'font-size':'30px'});},
     stop: function(event, ui) {
       ui.item.css({'background-color':'rgba(255,0,0,0.1)', 'font-size':'30px'});
       jQuery.post('<%=importance_todos_path%>', $(this).sortable('serialize'), null, 'text');
     }
  });
  $("#sortable").disableSelection();
});
</script>
