<header>
  <div class="icon"><a href="javascript:history.back()" class="btn"><i class="fas fa-arrow-left fa-5x"></i><div class="icon-text">戻る</div></a></div>
  <div class="title"><h1>TODO詳細</h1></div>
  <div class="icon"><a href=<%="/todos/#{@todo.id}/edit"%> class="btn"><i class="far fa-edit fa-5x"></i><div class="icon-text">編集</div></a></div>
  <div class="icon"><%= link_to "/todos/#{@todo.id}", method: :delete, :class => 'btn' do %><i class="far fa-check-circle fa-5x"></i><% end %><div class="icon-text">完了</div></div>
</header><!-- /header -->

<div class="contents">
  <div class="detail">
    <div class="detail-left">
      <h1>内容</h1>
    </div>
    <div class="detail-right">
      <%= @todo.title %>
    </div>
  </div>
  <hr>
  <div class="detail">
    <div class="detail-left">
      <h1>日付</h1>
    </div>
    <div class="detail-right">
      <%= @todo.dead_line.strftime("%Y/%m/%d") %>
    </div>
  </div>
  <hr>
  <div class="detail">
    <div class="detail-left">
      <h1>時間</h1>
    </div>
    <div class="detail-right">
      <%= @todo.dead_line.strftime("%H:%M") %>
    </div>
  </div>
  <hr>
  <div class="detail">
    <div class="detail-left">
      <h1>詳細</h1>
    </div>
    <div class="detail-right">
      <%= @todo.detail %>
    </div>
  </div>
</div>
