<!-- <!DOCTYPE html> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
  <title>TodoMatrix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-3.3.1.min' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= csrf_meta_tags %>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet">
  <%= favicon_link_tag 'mat-todo-icon.png'%>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <!-- <meta name="viewport" content="initial-scale=1.0"> -->s
</head>
<body>

<%= yield %>

</body>
</html>
